<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand">Shop</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="/admin/item/new" class="nav-link">상품등록</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/items" class="nav-link">상품관리</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cart" class="nav-link">장바구니</a>
                    </li>
                    <li class="nav-item">
                        <a href="/orders" class="nav-link">구매이력</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/members/login}">로그인</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/members/logout}">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/members/new}">회원가입</a>
                    </li>
                    <a href="https://github.com/roadbook2/shop"></a>
                </ul>
                <form th:action="@{/}" class="form-inline my-2 my-lg-0" method="get">
                    <input type="search" class="form-control mr-sm-2" name="searchQuery" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
</div>